<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
</div>

<div class="row">
	<div class="col-12 col-md-6 mx-auto my-3">
		<h1 class="text-center">Login to your account</h1>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-12 col-md-4 mx-auto my-3">
		<form class="login-form" method="POST" data-endpoint="{{ url_for('auth.login') }}">
  		{{ wtf.quick_form(form) }}
		</form>
	</div>
</div>
{% endblock %}